@import url('https://fonts.googleapis.com/css2?family=Faster+One&family=Share+Tech+Mono&display=swap');

.App {
  font-family: 'Share Tech Mono', monospace;
  font-size: 1rem;
}

.contentBox {
  height: 100vh;
  line-height: 1.5;
  color: #FECC01;
  font-size: 1.2em;
  padding: 120px 50px 0;
}

h1, h2, h3{
  font-family: 'Faster One', sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 1.10909;
  margin-bottom: 0.5em;
  word-break: break-word;
  hyphens: auto;
}
